<div class="w-full space-y-4">
    <div class="w-full bg-stone-200 rounded-full overflow-hidden h-4">
      <div class="h-full w-1/2 bg-stone-800
                  bg-[linear-gradient(45deg,rgba(255,255,255,0.15)_25%,transparent_25%,transparent_50%,rgba(255,255,255,0.15)_50%,rgba(255,255,255,0.15)_75%,transparent_75%,transparent)]
                  bg-[length:20px_20px]">
      </div>
    </div>

    <div class="w-full bg-stone-200 rounded-full overflow-hidden h-4">
      <div class="h-full w-1/2 bg-stone-200 brightness-90
                  bg-[linear-gradient(45deg,rgba(255,255,255,0.15)_25%,transparent_25%,transparent_50%,rgba(255,255,255,0.15)_50%,rgba(255,255,255,0.15)_75%,transparent_75%,transparent)]
                  bg-[length:20px_20px]">
      </div>
    </div>

    <div class="w-full bg-stone-200 rounded-full overflow-hidden h-4">
      <div class="h-full w-1/2 bg-blue-500
                  bg-[linear-gradient(45deg,rgba(255,255,255,0.15)_25%,transparent_25%,transparent_50%,rgba(255,255,255,0.15)_50%,rgba(255,255,255,0.15)_75%,transparent_75%,transparent)]
                  bg-[length:20px_20px]">
      </div>
    </div>

    <div class="w-full bg-stone-200 rounded-full overflow-hidden h-4">
      <div class="h-full w-1/2 bg-green-500
                  bg-[linear-gradient(45deg,rgba(255,255,255,0.15)_25%,transparent_25%,transparent_50%,rgba(255,255,255,0.15)_50%,rgba(255,255,255,0.15)_75%,transparent_75%,transparent)]
                  bg-[length:20px_20px]">
      </div>
    </div>

    <div class="w-full bg-stone-200 rounded-full overflow-hidden h-4">
      <div class="h-full w-1/2 bg-amber-500
                  bg-[linear-gradient(45deg,rgba(255,255,255,0.15)_25%,transparent_25%,transparent_50%,rgba(255,255,255,0.15)_50%,rgba(255,255,255,0.15)_75%,transparent_75%,transparent)]
                  bg-[length:20px_20px]">
      </div>
    </div>

    <div class="w-full bg-stone-200 rounded-full overflow-hidden h-4">
      <div class="h-full w-1/2 bg-red-500
                  bg-[linear-gradient(45deg,rgba(255,255,255,0.15)_25%,transparent_25%,transparent_50%,rgba(255,255,255,0.15)_50%,rgba(255,255,255,0.15)_75%,transparent_75%,transparent)]
                  bg-[length:20px_20px]">
      </div>
    </div>
  </div>